<!-- getRate.ejs -->
<html>
<head>
  <title>Postage Rate</title>
</head>
<body>
  <h1>Retail First-Class Mail: Postage Rate</h1>
  <h2>Weight of the item (in oz.): <%= weight %></h2>
  <h2>Type of mail: <%= type %></h2>
  <h2>Postage Rate: $<%= rate %></h2>
</body>
</html>